<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="eCommerceTestSuite" thread-count="1" parallel="methods">

    <test name="RegistrationTest">
        <classes>
            <class name="com.ecommerce.tests.RegistrationTest" />
        </classes>
    </test>

    <test name="FunctionalFlowTests">
        <classes>
            <class name="com.ecommerce.tests.FunctionalFlowTests" />
        </classes>
    </test>


</suite>